@font-face {
  font-family: "GreatVibes";
  src: local("../assets/fonts/GreatVibes-Regular.ttf"),
    url("../assets/fonts/GreatVibes-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-sb";
  src: local("../assets/fonts/Raleway-SemiBold.ttf"),
    url("../assets/fonts/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-bd";
  src: local("../assets/fonts/Raleway-Bold.ttf"),
    url("../assets/fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-eb";
  src: local("../assets/fonts/Raleway-ExtraBold.ttf"),
    url("../assets/fonts/Raleway-ExtraBold.ttf") format("truetype");
}
